body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('assets/back1.avif'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

header {
    background-color: transparent;
    padding: 15px;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1vh 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 5px;
    font-size: 2vh;
}




main {
    background-color: transparent;
    margin: 20px;
}
.content {
    display: none;
    opacity: 0;
    transform: translateY(-50px) scale(0.2); /* Added scale to the transform */
    transition: opacity 5s, transform 5s;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

.content.active {
    animation: fadeInSlideScale 0.5s forwards; /* renamed the animation for clarity */
    display: block;
}

@keyframes fadeInSlideScale {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.2); /* Added scale to the transform */
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); /* Scaling to original size */
    }
}






.profile{
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url('assets/profile.jpg') center/cover;
    margin-bottom: 6vh;
}
.name {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
    color: white;
}
.title {
    font-size: 2vh;
    color: #ffffff;
    margin-top: 5px;
}
.profile-essay{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-left: 5vh;
    padding-right: 5vh;
}
.profile-essay p{
    color: black;
    font-size: 2.8vh;
    line-height: 10vh;
    text-align: center;
    font-weight: 600;
}







#resume {
    padding-top: 1vh;
}
#resume h2{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}
#resume h1 {
    font-size: 2.7vh;
    color: black;
    line-height: 5vh;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    margin-top: 8vh;
}






.language-container-row {
    display: flex; 
    justify-content: center; 
}
.language-container {
    padding: 1vh;
    border-radius: 5px;
    background-color: #505A65;
    text-align: center;
    width: 30vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 2vh;
    margin-right: 2vh;
}
.language-container h3 {
    font-size: 2.2vh;
    color: white;
    font-weight: 500;
}
.pdf-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.pdf-container img {
    width: 30px;
    height: auto;
    margin-bottom: 4vh;
}
.pdf-container a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 1.8vh;
    background-color: white;
    border-radius: 2px;
    padding: 1vh 2vh;
}
.pdf-container a:hover {
    text-decoration: underline;
}








#autobiography{
    padding-top: 1vh;
}
#autobiography h2{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}
#autobiography h1 {
    font-size: 2.7vh;
    color: black;
    line-height: 5vh;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    margin-top: 8vh;
}








#invention{
    padding-top: 1vh;
}
#invention h2{
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}
#invention-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: transparent;
}
.video-container {
    width: 40%;
}
.video-container video {
    width: 100%;
    height: 60vh;
}
.video-container p {
    text-align: center;
    margin-bottom: 1vh;
    color: black;
    font-size: 2vh;
}
.info-container {
    width: 40%;
    padding: 10px;
    background-color: transparent;
    height: 60vh;
}
.info-container p {
    font-size: 2.5vh;
    color: black;
}
.pdf-container-invention {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
.pdf-language-invention {
    text-align: center;
    background-color: #505A65;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    padding: 2vh 3vh;
    border-radius: 2px;
}
.pdf-language-invention p {
    font-size: 2.2vh;
    color: white;
    margin-bottom: 3vh;
}
.pdf-language-invention a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 2vh;
}
.pdf-language-invention a:hover {
    background-color: white;
}
#invention-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}
#invention-container2 p{
    margin-bottom: 3vh;
}







#african{
    padding-top: 1vh;
}
#african h2{
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}







#modern{
    padding-top: 1vh;
}
#modern h2{
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}








.container {
    display: flex;
    justify-content: center;
    gap: 3vh;
    width: 100%;
}
.social-media {
    text-align: center;
    width: 20vh !important;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}
.social-media h3 {
    font-size: 2vh;
    margin: 2vh 0;
}
.social-media img {
    width: 30px;
    height: 30px;
    margin: 2vh auto;
}
.social-media button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.social-media button:hover {
    background-color: white;
}
#social{
    padding-top: 1vh;
}
#social h2{
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 3vh;
    color: white;
    font-weight: 600;
}
#social h1{
    font-size: 2.7vh;
    color: black;
    line-height: 5vh;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    margin-top: 8vh;
}
